@using Localization.Languages.Views.Partials
@model Topsite.Models.ReportUserModel

<div id="reportModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Report.Close</span></button>
                <h4 class="modal-title">@Report.ReportTitle: @Model.WebsiteTitle</h4>
            </div>
            @using (Html.BeginForm("Report", "Website"))
            {
                <div class="modal-body">

                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.WebsiteId)

                    @Html.LabelFor(m => m.Reason)
                    @Html.TextAreaFor(m => m.Reason)
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Report.Cancel</button>
                    <button type="submit" class="btn btn-info">@Report.Send</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->