@using Localization.Languages.Admin
@using Localization.Languages.Admin.Views.Blacklist
<div class="resultsTable nav-tabs-custom">
    <ul class="nav nav-tabs pull-right">
        <li>@Html.ActionLink(Index.Add, "Add", null, new { @class = "btn btn-default btn-sm" })</li>
        <li class="pull-left header"><i class="fa fa-th"></i> @Index.View</li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <table id="tableRecords" class="table table-striped">
                <thead>
                <tr>
                    <th>@Index.Id</th>
                    <th>@Index.Domain</th>
                    <th data-hide="phone, tablet">@Common.Edit</th>
                    <th id="deleteRecord" data-hide="phone, tablet">@Common.Delete</th>
                </tr>
                </thead>
            </table>

            <div id="deleteModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">@Index.DeleteRecord: <span id="title-modal"></span></h4>
                        </div>
                        <div class="modal-body">
                            <p>@Index.ConfirmDelete</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">@Common.Cancel</button>
                            <a href="" id="urlDelete" class="btn btn-primary">@Common.Delete</a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div><!-- /.tab-pane -->
    </div><!-- /.tab-content -->
</div>

@section Footer{

    @Scripts.Render("~/Areas/Administration/Content/Javascript/fooTable")

    <script type="text/javascript">
        $(function() {
            setupFooTable.init('#tableRecords', '/Administration/Blacklist/Get', "@Common.Search", 7);

            $('#tableRecords').on('click', 'a[data-id="deleteRecord"]', function (e) {

                var title = $(this).closest('tr').find('td:eq(1)').text();

                var deleteNewsLink = $(this).attr('href');

                $('#deleteModal #urlDelete').attr('href', deleteNewsLink);

                $('#deleteModal #title-modal').text(title);

                $('#deleteModal').modal('show');

                return false;
            });

        });
    </script>
}